<div class="error-page">
    <h2 class="title">Error 404</h2>
    <p class="param">Esta ruta no existe en esta página. Haga click en el siguiente botón para volver al inicio...</p>
    <a href="/">
        <button>Volver al Inicio</button>
    </a>

</div>