<main class="main">
    <h1 class="title">Nuestro centro estético</h1>

    <img src="/media/about-center01.jpg" alt="">
    <img src="/media/about-center02.jpg" alt="">
    <img src="/media/about-center03.jpg" alt="">
    <img src="/media/about-center04.jpg" alt="">

</main>