<section class="section">
    <h2 class="title">Acerca de Beauty Touch</h2>
    <div class="items-container">
        <a href="/about/personal" class="card">
            <h2 class="title">Nuestro Personal</h2>
        </a>
        <a href="/about/central" class="card">
            <h2 class="title">Central</h2>
        </a>
    </div>
</section>