<section class="section about">

    <h2 class="title">Nuestro centro estético</h2>
    <p class="param">Es un Centro de Belleza Integral, porque abarca todo lo que tiene que ver con la imagen personal. Por eso cuenta con servicios profesionales como:</p>
        
    <div class="owl-carousel owl-theme">
        <div class="img">
            <img src="/media/about-center01.jpg" alt="Service">
        </div>
        <div class="img">
            <img src="/media/about-center02.jpg" alt="Service">
        </div>
        <div class="img">
            <img src="/media/about-center03.jpg" alt="Service">
        </div>
        <div class="img">
            <img src="/media/about-center04.jpg" alt="Service">
        </div>
    </div>
</section>