    <main class="main">

        <section class="section">
            <div class="card-container">
                <a href="/about/personal" class="card">
                    <h1 class="title">Nuestro Personal</h1>
                </a>
                <a href="/about/central" class="card">
                    <h1 class="title">Central</h1>
                </a>
            </div>
        </section>



    </main>