<section class="section">
    <div class="bgContainer">
    <h1 class="title">Nuestro personal estético</h1>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    </div>
    <p class="param">Soy Shirley Amparito Yánez Yánez, venezolana con raíces ecuatorianas. Me apasiona el mundo de la belleza, desde que era una niña tenía claro lo que quería ser de mayor. Aunque soy contable de profesion y llegué hasta la mitad de la carrera de Ingeniería de Sistemas, mi deseo lo guardaba en mi mente y corazón.</p>
    <p class="param">A pesar de no estar encamida directamente en este mundo, siempre fui dando pequeños pasos que se relacionaban con la belleza, en el año 1997 estudié modelo de pasarela y maquillaje básico. Participe en diferentes desfiles de moda, maniquí vivientes y eventos de la moda. </p>
    <p class="param">Después de casi 11 años de trabajar en la contabilidad y administración financiera,  las circunstancias de mi vida me dieron un giro de 360°, pero no lo vi como un fracaso, sino como la oportunidad de empezar a luchar por mi pasión y dedicarme a lo que realmente deseaba.</p>

    <div class="container">
        <div class="img">
            <img src="/media/about-us01.jpeg" alt="">
        </div>
        <div class="description">
            <h3 class="title">Asesora integral de imagen personal</h3>
            <p class="param">La primera oportunidad, a nivel profesional que se me presentó, fue estudiar Asesoría de Imagen, al ser Asesoría Integral abarcaba toda la imagen lo que me abrió las puertas a ver con más amplitud este mundo. </p>
            <p class="param">Durante esta etapa me dediqué a estudiar estética, peluquería, maquillaje, vestuario y protocolos, para mí fue una pequeña pincelada pero lo suficiente como para dar mis primeros pasos.</p>
            <p class="param">Aquí pensé que terminaría todo lo que a estudios se refiere, pero sin buscarlo se me abrió una nueva puerta en mi vida...</p>
        </div>
    </div>
    <div class="container">
        <div class="img">
            <img src="/media/about-us02.jpeg" alt="">
        </div>
        <div class="description">
            <h3 class="title">Esteticista Especializada</h3>
            <p class="param">Para finales del año 2003 empecé a hacer los primeros cursos de estética, años más tarde realicé casi 30 cursos de especialización de la piel y problemas cutáneos, llegando a ser Esteticista especializada.</p>
        </div>
    </div>
    <div class="container">
        <div class="img">
            <img src="/media/about-us03.jpeg" alt="">
        </div>
        <div class="description">
            <h3 class="title">Profesional del masaje</h3>
            <p class="param">Mientras estudiaba estética, vi la necesidad o lo genial que sería combinar la estética con los masajes y los múltiples beneficios no sólo para la piel sino también a nivel emocional y la sensación de relax, así que esto me motivó a meterme en el mundo del masaje, especializándome en el drenaje linfático, reflexología y maderoterapia.</p>
            <p class="param">Así en 2019 obtengo otro título oficial como "Profesional del Masaje".</p>
        </div>
    </div>
    <div class="container">
        <div class="img">
            <img src="/media/about-us04.jpeg" alt="">
        </div>
        <div class="description">
            <h3 class="title">Maquilladora integral profesional</h3>
            <p class="param">En 2015 me inicié en el mundo de la micropigmentación con un máster, años después realicé cursos avanzados de micro pigmentación y microblading y por último varios cursos de técnicas especiales para dar un realismo efecto 3D a las cejas.</p>
            <p class="param">En 2020 terminé de sacar el título oficial de Maquilladora Integral Profesional, abarcando todo lo que tiene q ver con el mundo del maquillaje, maquillaje de embellecimiento y envejecimiento, artístico, de caracterización a nivel facial y corporal.</p>
            <p class="param">Aunque muchos no lo relacionan el maquillaje con la Micropigmentacion, lo cierto es que entra dentro de este ámbito.</p>
            <p class="param">Y como me gusta estar a la vanguardia de todo, he continuado haciendo másters de la piel, técnicas de maquillaje, etc...</p>
        </div>
    </div>
    <p class="param">Se que aquí no finalizan mis estudios porque siempre me gusta actualizarme en todo, pero a día de hoy puedo decir que, esta es la formación que avala todo mi trabajo además de varios años de experiencia en el sector y los múltiples resultados obtenidos en cada uno de los tratamientos realizados.</p>
    <p class="param">Mi trabajo es mucho más que un trabajo, disfruto cada minuto y me entrego al máximo con cada uno de mis clientes,  así que ven y compruébalo y disfruta de algo más que una limpieza facial, disfruta de "TU MOMENTO" como ya muchas de mis client@s han llamado a los momentos que pasan en mi cabina.</p>

</section>