<section class="section">
    <div class="bgContainer">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    <h1 class="title">Acerca de Beauty Touch</h1>
    </div>
    <div class="items-container">
        <a href="/about/personal" class="card">
            <h2 class="title">Nuestro Personal</h2>
        </a>
        <a href="/about/central" class="card">
            <h2 class="title">Central</h2>
        </a>
    </div>
</section>