<section class="section">
    <div class="bgContainer">
    <h2 class="title">Servicios</h2>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    </div>
        
    <div class="owl-carousel owl-theme">
        <div class="service-img">
            <img src="/media/service-especial.jpg" alt="Service">
        </div>
        <div class="service-img">
            <img src="/media/service-estetic.jpg" alt="Service">
        </div>
        <div class="service-img">
            <img src="/media/service-fashion.jpg" alt="Service">
        </div>
        <div class="service-img">
            <img src="/media/service-forma.jpg" alt="Service">
        </div>
        <div class="service-img">
            <img src="/media/service-makeup.jpg" alt="Service">
        </div>
        <div class="service-img">
            <img src="/media/service-micro.jpg" alt="Service">
        </div>
    </div>

</section>