<div class="bgContainer">
<h1 class="title">Servicios</h1>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</div>

{{#each data}}
        
<section class="section">
    <h2 class="title">{{title}}</h2>

    <div class="card-container">

        {{#each items}}

        <a href="/services/{{id}}">
            <div  class="card">
                <h3 class="name">{{name}}</h3>
                <p class="text">{{body}}</p>
            </div>
        </a>
            
        {{/each}}

    </div>

</section>

{{/each}}