.section,
.about {
    .owl-carousel {
        .img {
            padding: 1em;
            height: 600px;
            @media (max-width: 576px) {
                height: 460px;
            }
            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.section {
    .container {
        width: 100%; 
        padding: 1em;
 
        .img {
            width: 30%;
            margin: 0 auto;
            @media (max-width: 1200px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 60%;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
            img {
                width: 100%;
                object-fit: cover;
                // @media (max-width: 768px) {
                //     width: 60%;
                // }

                // height: 600px;
                // width: 100%;
                // text-align: center;
                // object-fit: cover;
                // padding: 1em;
                // @media (min-width: 576px) {
                //     width: 300px;
                // }
            }
        }
        .description {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            // @media (max-width: 576px) {
            //     width: 100%;
            // }
            // @media (min-width: 992px) {
            //     width: 63%;
            // }
            // @media (min-width: 1400px) {
            //     width: 75%;
            // }
        }
    }
}