.bgContainer {
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin: 0;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  // background-image: linear-gradient(-60deg, #00C2CB 50%, #bebebe 50%);
  background-image: linear-gradient(-60deg, #bebebe 50%, #fff 50%);
  bottom:0;
  top:0; 
  left:-50%;
  right:-50%; 
  opacity:.5;
  z-index:-1;
  position: absolute;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% { 
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}