@import './mixis';
.error-page {
    min-height: 80vh;
    padding: 3em;
    h2.title {
        font-family: $firts-font;
        font-size: 5em;
        font-weight: 200;
    }
    p.param {
        font-family: $second-font;
        font-size: 1.4em;
    }
    button {
        @include button;
        margin-top: 3em;
    }
}