header.header {
    background-color: $firts-color;
    height: $height-menu;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    nav.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        .logo {
            height: 100%;
            padding: 10px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        ul.list {
            display: flex;
            list-style: none;
            padding: 15px;
            li {
                width: max-content;
                margin: 0 20px;
                a {
                    color: #fff;
                    font-size: 2.3rem;
                    font-family: $firts-font;
                }
            }
            @media (max-width: 768px) {
                position: absolute;
                height: calc(100vh - 80px);
                width: 100%;
                top: $height-menu;
                flex-direction: column;
                align-items: center;
                background-color: $firts-color;
                transition: 1.3s ease;
                right: 150%;
                justify-content: center;
                opacity: 0;
                li {
                    margin: 20px;
                    a {
                        font-size: 3em;
                    }
                }
                &.show {
                    right: 0;
                    opacity: 1;
                }
            }
        }
    }
}