@import './mixis';
.owl-carousel {
    padding: 10px;
    .owl-nav {
        button.owl-prev,
        button.owl-next {
            margin: auto 30px;
            margin-bottom: 1.2em;
            @include button
        }
    }
}