main.main {
    max-width: $max-width;
    margin: 0 auto;
    section.section {
        margin: 10px;
        margin-top: 50px;
        padding: 10px;
        h1.title {
            font-family: 'Great Vibes', cursive;
            text-align: center;
            font-size: 3.2rem;
            margin: 20px auto;
            font-weight: 100;
            color: #000000;
        }
    }
}