$firts-color: #00C2CB;
$second-color: #bebebe;
$third-color: #c1ae83;
$white-color: #fff;
$black-color: #000000;
$height-menu: 80px;
$max-width: 1800px;
$firts-font: 'Great Vibes';
$second-font: 'Red Hat Display';

/*
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/