header.header {
    background-color: $firts-color;
    height: $height-menu;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    nav.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        .logo {
            height: 100%;
            padding: 10px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        ul.list {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            padding: 15px;
            li {
                color: #fff;
                margin: 0 20px;
                font-size: 2.3em;
                font-family: 'Great Vibes', cursive;
                width: max-content;
                cursor: pointer;
            }
        }
    }
}