.owl-carousel {
    .owl-nav {
        button.owl-prev,
        button.owl-next {
            font-size: 1.2em;
            padding: 5px !important;
            margin: auto 30px;
        }
        button.owl-prev:hover,
        button.owl-next:hover {
            background-color: $firts-color;
        }
    }
}