@import 'components/variables';
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: $black-color;
}

html {
    scroll-behavior: smooth;
    font-size: 17px;
    @media (max-width: 992px) {
        font-size: 15px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: $white-color;
}

@import 'components/header';
@import 'components/menuburger';
@import 'components/jumbotron';
@import 'components/section';
@import 'components/services';
@import 'components/owlcarousel';
@import 'components/footer';
@import 'components/error';