@charset "UTF-8";
/*
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

html {
  scroll-behavior: smooth;
  font-size: 17px;
}

@media (max-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

header.header {
  background-color: #00C2CB;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

header.header nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
}

header.header nav.nav .logo {
  height: 100%;
  padding: 10px;
}

header.header nav.nav .logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header.header nav.nav ul.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 15px;
}

header.header nav.nav ul.list li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
}

header.header nav.nav ul.list li a {
  color: #fff;
  font-size: 2.3rem;
  font-family: "Great Vibes";
}

@media (max-width: 768px) {
  header.header nav.nav ul.list {
    position: absolute;
    height: calc(100vh - 80px);
    width: 100%;
    top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #00C2CB;
    -webkit-transition: 1.3s ease;
    transition: 1.3s ease;
    right: 150%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
  }
  header.header nav.nav ul.list li {
    margin: 20px;
  }
  header.header nav.nav ul.list li a {
    font-size: 3em;
  }
  header.header nav.nav ul.list.show {
    right: 0;
    opacity: 1;
  }
}

.menu-burger {
  margin: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

@media (max-width: 768px) {
  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-burger .burger {
  width: 60px;
  height: 5px;
  background-color: #fff;
  margin: 10px 0;
}

.menu-burger::after, .menu-burger::before {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #fff;
}

.jumbotron .video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: calc(100vh - 80px);
}

.jumbotron .video video {
  height: 100%;
  width: 100%;
}

main.main {
  max-width: 1800px;
  margin: 0 auto;
  margin-bottom: 2.8rem;
}

main.main section.section {
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
}

main.main section.section h2.title {
  font-family: "Great Vibes";
  text-align: center;
  font-size: 2.9em;
  margin: 10px auto;
  font-weight: 100;
  color: #000000;
}

main.main section.section p.param {
  font-family: "Red Hat Display";
  padding: 20px;
  font-size: 1.1em;
}

main.main section.section ul.list {
  padding: 20px;
  list-style-image: url("/media/item-list.png");
  padding-left: 3.7em;
}

main.main section.section ul.list li {
  font-family: "Red Hat Display";
  font-size: 1.1em;
  padding: 10px;
}

main.main section.section .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  margin-top: 20px;
}

main.main section.section .button-container button {
  color: #fff;
  background-color: #00C2CB;
  font-family: "Red Hat Display" !important;
  font-size: 1.4em;
  padding: 7px !important;
  -webkit-box-shadow: 10px 10px 20px -12px #bebebe;
  box-shadow: 10px 10px 20px -12px #bebebe;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

main.main section.section .button-container button:hover {
  color: #00C2CB;
  background-color: #fff;
  -webkit-box-shadow: inset 10px 10px 20px -12px #bebebe;
  box-shadow: inset 10px 10px 20px -12px #bebebe;
  cursor: pointer;
}

main.main h1.title {
  font-family: "Great Vibes";
  text-align: center;
  font-size: 3.2rem;
  margin: 20px auto;
  font-weight: 100;
  color: #000000;
}

.card-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-rows: 14rem;
  grid-gap: 10px;
  padding: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
  .card-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .card-container {
    grid-auto-rows: 300px;
    grid-auto-rows: 20rem;
  }
}

.card-container .card {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding: 1em;
  -webkit-box-shadow: 10px 10px 20px -12px #bebebe;
  box-shadow: 10px 10px 20px -12px #bebebe;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  overflow: hidden;
}

.card-container .card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-container .card h3.name {
  font-family: "Great Vibes";
  font-size: 2rem;
  font-weight: 100;
}

.card-container .card p.text {
  padding: 10px;
  font-family: "Red Hat Display";
  font-size: 1em;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  margin: auto 30px;
  color: #fff;
  background-color: #00C2CB;
  font-family: "Red Hat Display" !important;
  font-size: 1.4em;
  padding: 7px !important;
  -webkit-box-shadow: 10px 10px 20px -12px #bebebe;
  box-shadow: 10px 10px 20px -12px #bebebe;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  color: #00C2CB;
  background-color: #fff;
  -webkit-box-shadow: inset 10px 10px 20px -12px #bebebe;
  box-shadow: inset 10px 10px 20px -12px #bebebe;
  cursor: pointer;
}

footer.footer {
  background-color: #bebebe;
  width: 100%;
  padding: 20px;
}

footer.footer p {
  padding-left: 10px;
  font-size: 1.2em;
  color: #fff;
}

footer.footer .icon-container {
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .icon-container .icon {
  margin: 0 20px;
  height: 4em;
  border-radius: 50%;
  opacity: .6;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

footer.footer .icon-container .icon:hover {
  opacity: 1;
}

@media (max-width: 576px) {
  footer.footer .icon-container .icon {
    height: 2em;
  }
}

footer.footer .icon-container .icon img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.error-page {
  min-height: 80vh;
  padding: 3em;
}

.error-page h2.title {
  font-family: "Great Vibes";
  font-size: 5em;
  font-weight: 200;
}

.error-page p.param {
  font-family: "Red Hat Display";
  font-size: 1.4em;
}

.error-page button {
  color: #fff;
  background-color: #00C2CB;
  font-family: "Red Hat Display" !important;
  font-size: 1.4em;
  padding: 7px !important;
  -webkit-box-shadow: 10px 10px 20px -12px #bebebe;
  box-shadow: 10px 10px 20px -12px #bebebe;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin-top: 3em;
}

.error-page button:hover {
  color: #00C2CB;
  background-color: #fff;
  -webkit-box-shadow: inset 10px 10px 20px -12px #bebebe;
  box-shadow: inset 10px 10px 20px -12px #bebebe;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */