@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #00C2CB;
  --swiper-navigation-color: #00C2CB;
  --swiper-pagination-bullet-inactive-color: #bebebe;
  --swiper-pagination-color: #00c2cb;
}
