<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Todos los servicios de belleza y atención estética que tenemos para ofrecerte. Elige cómo podemos consentirte y nos encargaremos del restoh">
    <meta name="author" content="Leonardo Torrealba">
    <meta name="copyright" content="Beauty Touch">

    <link rel="icon" href="/media/logo.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Red+Hat+Display&display=swap" rel="stylesheet">

    <!-- Owl Carousel 2-2.3.4 -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.css">
    <!-- <link rel="stylesheet" href="css/owl.theme.green.css"> -->

    <!-- styles -->
    <link rel="stylesheet" href="/scss/styles.css">

    <title>Beauty Touch - Estética Avanzada y Belleza</title>
</head>
<body>

    <header class="header">
        <nav class="nav">
            <div class="logo">
                <img src="/media/logo.png" alt="Logo">
            </div>
            <ul class="list" id="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
            </ul>

            <div class="menu-burger" id="menu-burger">
                <div class="burger"></div>
            </div>

        </nav>
    </header>

    {{{ body }}}

    <footer class="footer">
        <p>Redes Sociales:</p>
        <div class="icon-container">
        <a href="https://www.facebook.com/groups/567059580856960/" class="icon">
            <img src="/media/IconFacebook.png" alt="Icon Facebook">
        </a>
        <a href="https://www.instagram.com/shirley_yanez_beauty_touch/" class="icon">
            <img src="/media/IconInstagram.png " alt="Icon Instagram">
        </a>
        <a href="https://www.youtube.com/channel/UC9TirbK3ezdDmE_CquW5WEQ" class="icon">
            <img src="/media/IconYoutube.png" alt="Icon Youtube">
        </a>
        <a href="" class="icon">
            <img src="/media/IconWhatsapp.png" alt="Icon WhatsApp">
        </a>

        </div>
    </footer>
    
    <!-- JQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Script -->
    <script src="/js/script.js"></script>

</body>
</html>