<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Todos los servicios de belleza y atención estética que tenemos para ofrecerte. Elige cómo podemos consentirte y nos encargaremos del resto">
    <meta name="author" content="Leonardo Torrealba">
    <meta name="copyright" content="Beauty Touch">

    <link rel="icon" href="/media/logo.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Red+Hat+Display&display=swap" rel="stylesheet">

    <!-- Owl Carousel 2-2.3.4 -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.css">
    <!-- <link rel="stylesheet" href="css/owl.theme.green.css"> -->

    <!-- styles -->
    <link rel="stylesheet" href="/scss/styles.css">

    <title>Beauty Touch - Estética Avanzada y Belleza</title>
</head>
<body>

    <header class="header">
        <nav class="nav">
            <div class="logo">
                <img src="/media/logo.png" alt="Logo">
            </div>
            <ul class="list" id="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
            </ul>

            <div class="menu-burger" id="menu-burger">
                <div class="burger"></div>
            </div>

        </nav>
    </header>

    {{#if jumbotron}}
        <div class="jumbotron">
            <div class="video">
                <video src="/media/presentation-video.mp4" loop autoplay muted></video>
            </div>
        </div>
    {{/if}}

    <main class="main">

        {{{ body }}}
        
    </main>
    <div id="socialBar">
        <a href="https://www.facebook.com/groups/567059580856960/" class="icon">
            <img src="/media/IconFacebook.png" alt="Icon Facebook">
        </a>
        <a href="https://www.instagram.com/shirley_yanez_beauty_touch/" class="icon">
            <img src="/media/IconInstagram.png " alt="Icon Instagram">
        </a>
        <a href="https://www.youtube.com/channel/UC9TirbK3ezdDmE_CquW5WEQ" class="icon">
            <img src="/media/IconYoutube.png" alt="Icon Youtube">
        </a>
        <a href="https://api.whatsapp.com/send?phone=+34620392467&text=Hola%20Beauty%20Touch.%20Estuve%20en%20su%20sitio%20web%20y%20quise%20contactar%20con%20ustedes%20%C2%BFPueden%20darme%20m%C3%A1s%20informaci%C3%B3n?" class="icon">
            <img src="/media/IconWhatsapp.png" alt="Icon WhatsApp">
        </a>
    </div>
    
    <!-- JQuery -->
    <script src="/js/jquery.min.js"></script>

    {{#if owlcarousel}}
    <!-- Owl Carousel 2-2.3.4 and JQuery-->
    <script src="/js/owl.carousel.js"></script>
    <script>
    // Call Plugin Owl Carousel 2
    $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        items: 1,
        autoplayTimeout: 3000,
        margin: 10,
        nav: true,
        navText: ['Anterior', 'Siguiente'],
        responsive: {
            1200: {
                items: 4
            },
            768: {
                items: 3
            },
            576: {
                items: 2
            }
        }
    });
    </script>
    {{/if}}

    <!-- Script -->
    <script src="/js/script.js"></script>

</body>
</html>